@font-face{
    src: url(fonts/Aileron-Thin.otf);
    font-family: title;
}

body {
    background-color: #121212;
    width: 80%;
    margin: 0 auto;
}

header {
    margin-top: 40px;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 50px;
    font-family: title;
    animation: slideDown 0.8s ease;
}

.todo {
    margin-top: 40px;
    height: 80px;
    width: 100%;
    background-color: #242424;
    border-radius: 50px;
    box-shadow: 5px 1px 10px black;
    animation: slideLeft 0.8s ease;
}

.content {
    display: inline-block;
    margin: 14px 0 0 20px;
    color: white;
    font-size: 20px;
}

.time-created {
    display: inline;
    margin: 5px 0 0 20px;
    color: rgb(190, 186, 186);
    float: left;
    font-size: 13px;
}

.checkmark {
    display: none;
}


.checkmark-display {
    margin: -27px 30px 0 0;
    position: relative;
    display: inline;
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
    border: solid white 2px;
    border-radius: 50%;
    transition: border-color 0.2s ease;
}

.checkmark-display::before {
    content: "";
    position: absolute;
    left: 20%;
    top: 45%;
    height: 30%;
    width: 2px;
    background: white;
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.checkmark-display::after {
    content: "";
    position: absolute;
    left: 20%;
    bottom: 25%;
    height: 2px;
    width: 55%;
    background-color: white;
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.checkmark-display:hover{
    border: solid green 2px;
    transition: border 0.2s ease;
}

.checkmark-display:active {
    background-color: green;
}

.add-btn {
    height: 100px;
    width: 100px;
    position: fixed;
    left: 47%;
    bottom: 20px;
    font-size: 50px;
    color: white;
    border: solid 1px #007add;
    background-color: rgb(0, 122, 221);
    border-radius: 50%;
    box-shadow: 5px 1px 10px black;
    opacity: 0;
    animation: opacityAppear 0.8s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.add-btn:hover {
    transition: background-color 0.2s ease, border-color 0.2s ease;
    background-color: rgb(0, 99, 180);
    border-color: rgb(0, 99, 180);
}

.add-btn p {
    margin: 5px 0 0 0;
    text-align: center;
}

.donebtn {
    position: fixed;
    color: white;
    font-size: 30px;
    font-family: title;
    right: 200px;
    bottom: 30px;
    width: 150px;
    height: 80px;
    border-radius: 50px;
    background-color: rgb(0, 165, 0);
    border: none;
    animation: slideLeft 0.8s ease;
    transition: background-color 0.4s ease, opacity 0.4s ease;
}

.donebtn:hover {
    transition: background-color 0.4s ease;
    background-color: rgb(1, 126, 1);
}

.donebtn:focus {
    outline: none;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes opacityAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@each $color in $colors {
    .#{$color} {
      background: $color;
    }
  }


